body {
  background: #17323B;
}

.space {
  fill: #C2F0FF;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.land {
  fill: #86C975;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.sphere {
  fill: #C2F0FF;
}

.arcs {
  opacity:.1;
  stroke: gray;
  stroke-width: 3;
}

.flyers {
  stroke-width:.5;
  opacity: .6;
  stroke: darkred; 
}

.arc, .flyer {
  stroke-linejoin: round;
  fill:none;
}
  .arc { }
  .flyer { }
  .flyer:hover { }
